body {
  z-index: 10;
}
h1.ui.right.floated.header {
  margin-top: 0.08em;
}
body:focus {
  border-width: 2px;
  border-color: red;
}
tr {
  vertical-align: top;
}
textarea {
  min-height: 150px;
  max-height: 180px;
  outline: none;
  resize: none;
}
span.compendium {
  padding-left: 0.8em;
}
div.ui.card.character {
  height: 200px;
}
span.race.compendium, span.class.compendium, span.spell.compendium {
  font-size: 0.85rem;
  padding-left: 1.6em;
}
div.page{
  margin-right: 3.1em;
  margin-bottom: 3.1em;
  margin-top: 8.6em;
}

.ui.button {
  padding: 1em;
}
.ui.visible.thin.sidebar {
  font-size: 0.92em;
  margin-top: 5rem!important;
  width: 12em;
}
.ui.visible.thin.sidebar:hover, .ui.visible.thin.sidebar:focus{
   overflow-y: scroll;
}
.column.textpanel {
  position: relative;
  padding-top: 2em;
  padding-left: 80px;
}
.column.textpanel img {
  display: block;
  width: 300px;
  height: auto;
}
.column.textpanel input {
  position: absolute;
  top: 88px;
  left: 88px;
  height: 24px;
  width: 230px;
  background-color: rgba(255,255,255,0.5);
  border-color: lightblue;
  border-width: thin;
}
.column.textpanel input:focus {
  outline-color: red;
}

#header {
  height: 5rem;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 20;
}
#body {
  margin-top: 7.5em;
  margin-left: 14rem;
}
#char-edit {
  font-size: 0.9em;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 15px;
}
#char-remove {
  font-size: 0.8em;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}
#new-campaign-button, #existing-campaigns-button, #new-character-button {
  width: 150px;
}
#name-button {
  text-align: center;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
#name-button:hover, #name-button:active {
  cursor: default;
  background-color: initial;
}
#option {
  width: 30px;
}
